.card-img1 {
  width: 90%;
  height: 18rem;
  object-fit: cover;
}

.card-img-container img {
  border: 0;
  border-radius: 25px;
}
div {
  font-family: Sora !important;
}
.author {
  font-size: 0.8rem;
}

.price-before-discount {
  text-decoration: 1px solid black line-through;
}
/* ----------------- */
