.ads {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/aae8da113086087.60212ba3b3ae2.jpg");
  height: 100%;
  width: 100%;
  object-fit:cover;
  background-size:100%;
  overflow: hidden;
  border-radius: 15px;
}
.hide {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

div .ads {
  overflow: hidden;
}

.ads:hover {
  transition: all 0.7s;
  background-size: 200%;

  background-position: center;
  overflow: hidden;
}
